*.class

# Package Files #
*.jar
*.war
*.ear

HeadHunterTestJobProject/HeadHunterTestJob/build/
HeadHunterTestJobProject/HeadHunterTestJob/src/main/gen/
HeadHunterTestJobProject/out/
HeadHunterTestJobProject/.idea/
HeadHunterTestJobProject/.gradle/
HeadHunterTestJobProject/gradle/